body{
    background-color: lightgreen;
}

h3{
    color: black;
}

input[type = text]{
    font-family: 'Trebuchet MS', sans-serif;
    border-color:none;
    color:black;
    padding:20px;
    width: 450px;
    border-radius: 15px;
}

#logo{
    position:absolute;
    top:0;
    left:0;
    width: 15vw;
}
