body{
    background-color: lightgreen;
}

h3{
    color: black;
}

input[type = text]{
    font-family: 'Trebuchet MS', sans-serif;
    border-color:none;
    color:black;
    padding:20px;
    width: 450px;
    border-radius: 15px;
}

img {
    width: 20%;
    height:20%;
}