body{
    background-color: lightgreen;
}

img {
    width: 30%;
    height:30%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}


input[type = submit]{
    border: none;
    background-color: limegreen;
    font-size: 16px;
    padding: 20px;
    border-radius: 50px;
    font-family: 'Trebuchet MS', sans-serif;
}


input:hover[type = submit]{
    background: gainsboro;
}

div {text-align:center;}