<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h3>Title:</h3>
    <form action="/done" method= "post">
        <input type="text" name="Title" placeholder="Enter a title">
    
    <h3>Term</h3>
        <input type="text" name="Term1" placeholder="Term">
    <h3>Answer</h3>
        <input type="text" name="Answer1" placeholder="Answer">

    <h3>Term</h3>
        <input type="text" name="Term2" placeholder="Term">
    <h3>Answer</h3>
        <input type="text" name="Answer2" placeholder="Answer">

    <h3>Term</h3>
        <input type="text" name="Term3" placeholder="Term">
    <h3>Answer</h3>
        <input type="text" name="Answer3" placeholder="Answer">

    <h3>Term</h3>
        <input type="text" name="Term4" placeholder="Term">
    <h3>Answer</h3>
        <input type="text" name="Answer4" placeholder="Answer">

    <h3>Term</h3>
        <input type="text" name="Term5" placeholder="Term">
    <h3>Answer</h3>
        <input type="text" name="Answer5" placeholder="Answer">

    <input type = "submit" value = "Create!" />
    
    </form>

</body>
</html>