<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Create a Study Set | learnetic</title>
    <link rel="stylesheet" href="static/create.css">
</head>

<style>
.button {
    border: none;
    background-color:limegreen;
    font-size: 16px;
    padding:20px;
    border-radius:50px;
    display: block;
    margin: 0 auto;
}

.button:hover {background:gainsboro;}

.break{
    line-height:2;
}

</style>

<body>
    
    <!--Title and description of study set-->
    <img src = "/static/Title.JPG">
    <h4>Create a Study Set</h4>
    <form action="/" method= "post">
        <div class = "intro">
        <label>Title:</label>
        <input type="text" name="Title" placeholder="Enter a title">
        <br>
        <label>Description:</label>
        <input type="text" name="Descriptiom" placeholder="Enter a description">
        </div>

    <hr>
    <!--Flashcard (div)-->
    <h4>Flashcards:</h4>
    <div class ="flash">

    <br>
    <label>Term:</label>
        <input type="text" name="Term" placeholder="Term">
    <br>
    <label>Answer:</label>
        <input type="text" name="Answer" placeholder="Answer">
    <br>
    <br>

    </div>
    </form>
    <br>

    <!--Button and input type submit-->

    <button class="button"> Add a flashcard</button>

    <p class= "break">
    <input type = "submit" value = "Create!" />
    </p>

        
        <br>
        
        <h3>Term:</h3>
            <input type="text" name="Term" placeholder="Term">
        <br>
        <h3>Answer:</h3>
            <input type="text" name="Answer" placeholder="Answer">
        <br>
        <button class="button"> Add a flashcard</button>
        <br>
        <input class= "break" type = "submit" value = "Create!" />

        <!--[Mannendri here] I moved the submit button inside of the form element. The form 
        won't submit otherwise-->
    </form>



<script src="static/create.js"></script>
</body>
</html>