<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="static/create.css">
</head>

<style>
.button {
    border: none;
    background-color:limegreen;
    font-size: 16px;
    padding:20px;
    border-radius:50px;
}

.button:hover {background:gainsboro;}

p.break{
    line-height:2;
}

</style>

<body>
    
    
    <form action="/" method= "post">
        <label>Title:</label>
        <input type="text" name="Title" placeholder="Enter a title">
    
    <br>
    
    <h3>Term:</h3>
        <input type="text" name="Term" placeholder="Term">
    <br>
    <h3>Answer:</h3>
        <input type="text" name="Answer" placeholder="Answer">
    
    </form>
    <br>
    <button class="button"> Add a flashcard</button>

    <p class= "break">
    <input type = "submit" value = "Create!" />
    </p>


</body>
</html>