<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="static/edit.css">
    <link rel="shortcut icon" href="static/logo.png">
</head>
<style>
.btn {
    border: none;
    background-color:inherit;
    font-size: 16px;
}
    
.btn:hover {background:gainsboro;}
</style>

<body>
    <a href="/"><img src = "/static/Title.JPG"></a>
    <h3>Title: <!-- {{Title}}--></h3>
    <form action="/" method= "post">
        <input type="text" name="Title" placeholder="Title">
    
    <h3>Term</h3>
        <input type="text" name="Term" placeholder="Term">
    <h3>Answer</h3>
        <input type="text" name="Answer" placeholder="Answer">

    <button type="button">Update</button>
</body>
</html>