<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>learnetic</title>
    <link rel="stylesheet" href="static/index.css">
</head>


<body>

    <img src = "/static/Title.JPG">

    <ul>
        {% for set in sets %}
            <li>{{ set["name"] }} : {{ set["description"] }}</li>
        {% endfor %}
    </ul>

    <div>
        <form action="/create" method= "post">
            <input type="submit" value = "Create a Study Set" />
        </form>
    </div>
    
</body>
</html>