<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Study | learnetic</title>
    <link rel="stylesheet" href="static/study.css">
    <link rel="shortcut icon" href="static/logo.png">
</head>
<style>
.btn {
    border: none;
    background-color:limegreen;
    font-size: 16px;
}
    
.btn:hover {background:gainsboro;}
</style>


<body>
    <a href="/"><img src = "/static/Title.JPG"></a>
    <h1>{{ study_set }}</h1>
    <ul id="flashcards">
        {% for flashcard in flashcards %}
            <li class="flashcard">
                <p class="term">{{ flashcard['term'] }}</p>
                <p class="definition">{{ flashcard['definition'] }}</p>
            </li>
        {% endfor %}
    </ul>
    <a class="button" href="{{ '/edit/%s' % current_set['rowid'] }}">Edit Study Set</a>
    <a class="button" href="{{ '/delete/%s' % current_set['rowid'] }}">Delete Study Set</a>

    <script src="static/study.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</body>
</html>